/* =========================================
   BASE STYLES
   ========================================= */
html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family;
    color: $text-color;
    line-height: 1.6;
    background-color: #fff;
    overflow-x: hidden;
    margin: 0;
}

section {
    will-change: transform;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    font-weight: 700;
}

a {
    color: $heading-color;
    transition: all 0.3s ease;
    text-decoration: none;

    &:hover {
        color: $primary-color;
        text-decoration: none;
    }
}

.section-padding {
    padding: 60px 0;
}

.section-container {
    display: flex;
    flex-direction: column;
    max-width: 1260px;
    margin: 0 auto;
    gap: 50px 50px;
}

.section-title {
    position: relative;

    .subtitle {
        display: block;
        font-size: 14px;
        letter-spacing: 2px;
        margin-bottom: 10px;
        color: $accent-color;
        text-transform: uppercase;
    }

    .title {
        font-size: 64px;
        line-height: 1.1em;
        margin-bottom: 15px;
        position: relative;
        gap: 50px 50px;

    }

    p {
        max-width: 700px;
        margin: 0 auto;
        color: #666;
        font-family: $font-button;
    }
}

.ex-btn {
    display: flex;
    justify-content: center;


    .button {

        background-color: #890C25;
        border: none;
        padding: 14px 32px;
        border-radius: 8px;
        color: #fff !important;
        font-weight: 600;
        font-size: 15px;
        font-family: $font-button;
        transition: all 0.3s ease;
        display: inline-flex;
        align-items: center;
        gap: 10px;


        i {
            font-size: 14px;
            transition: transform 0.3s;
        }

    }
}