$primary-color: #1D8843;
/* Green */
$secondary-color: #f8f9fa;
$text-color: #333;
$heading-color: #002147;
$accent-color: #cb2f1f;
/* Red */
$light-gray: #e9ecef;
$white: #ffffff;
$font-family: 'Roboto', sans-serif;